body {
flex-flow: row wrap;
  justify-content: space-evenly;
  flex: 6; 
  margin-bottom: 60px;
  padding: 10px 10px;
  background-color: rgba(246, 239, 224, 0.888);
  padding: 10px 10px 10px;
  background-color: rgba(236, 227, 209, 0.888);
  padding-bottom: 30px;
}

.container-movie {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex: 6; 
  padding: 10px 10px 10px;
  background-color: rgba(236, 227, 209, 0.888);
  padding-bottom: 30px;
}

.poster-image {
  position: relative;
  width: 175px;
  height: auto;
  border: 4px solid white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.poster-image img {
  width: 100%;
  vertical-align: top;
}

.poster-image:hover{
  transform: scale(1.1);
  transition: all 0.35s ease;
  background-color: rgba(0, 0, 0, 0.5);
}


/* .poster-image::before,
.poster-image::after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
} */

/* .poster-image:hover::before,
.poster-image:hover::after {
  transform: scale(1);
  opacity: 1;
} */

/* .poster-image.grow {
  transition: all .2s ease-in-out;
} */

.title-info {
  line-height: 1;
  text-align: center;
  align-items: center;
  max-width: 175px;
  justify-content: space-evenly;
  padding: 8px 15px;
}

.title-info, a {
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: 475;
  text-transform: uppercase;
  letter-spacing: .09rem;
  line-height: 98%;
  text-shadow: 1px 1px 2px rgb(248, 244, 244);
}

.title-info, a:hover{
  color: rgb(144, 144, 144);
  font-weight: 400;
  text-decoration: none;
}
   
.container {
  width: 80%;
}