@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

@model MovieClient.Models.User
@using MovieClient.Models

<div class="container-home">
  <h2 class="title">welcome</h2>
</div>

<a class="nav-link enlarge" href='/Account'>Account</a>
<a class="nav-link enlarge" href='/Movies'>Movies</a>