@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

@using MovieClient.Models

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
</div>

<a class="nav-link enlarge" href='/Account'>Account</a>
<a class="nav-link enlarge" href='/Movies'>Movies</a>