@{
  Layout = "_Layout";
}

@using MovieClient.Models

<div style="text-align: center">
@if (User.Identity.IsAuthenticated)
{
  <h2 class="title">Hello @User.Identity.Name!</h2> 
  <p style="text-align:center;">It's good to see you again :-)</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn my-2 my-sm-2 btn-outline-dark" value="Log out">
  }
}
else
{
  <h4>You are not currently logged in.</h4>
  <p style="text-align: center">@Html.ActionLink("Register", "Register")</p>
  <p style="text-align: center">@Html.ActionLink("Log in", "Login")</p>
}
