@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h2>Hello @User.Identity.Name!</h2>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-sm my-2 my-sm-2 btn-outline-dark" value="Log out">
  }
}
else
{
  <p class="enlarge">@Html.ActionLink("Register", "Register")</p>
  <p class="enlarge">@Html.ActionLink("Log in", "Login")</p>
}
<p class="enlarge">@Html.ActionLink("Home", "Index", "Home")</p>