@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700;1,800&family=Cabin:wght@400;500;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;0,1000;1,300;1,400;1,500;1,600;1,700;1,900&family=Vidaloka&display=swap');

/* body {
flex-flow: row wrap;
  justify-content: space-evenly;
  flex: 6; 
  margin-bottom: 60px;
  padding: 10px 10px;
  background-color: rgba(246, 239, 224, 0.888);
  padding: 10px 10px 10px;
  background-color: rgba(236, 227, 209, 0.888);
  padding-bottom: 30px;
} */

.container {
  padding-top: 0px;
  margin-top: 0px;
}

.navbar, .navbar-expand-sm, .navbar-toggleable-sm, .navbar-light {
  margin-bottom: 0px;
}

.container-movie {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex: 6; 
  padding: 10px 10px 10px;
  background-color: rgba(236, 227, 209, 0.888);
  padding-bottom: 30px;
}

.container-home {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex: 6;
  padding: 10px 10px 10px;
  background-color: rgba(236, 227, 209, 0.888);
  width: 100%;
}

.poster-image {
  position: relative;
  width: 175px;
  height: auto;
  border: 4px solid white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.poster-image img {
  width: 100%;
  vertical-align: top;
}

.poster-image:hover{
  transform: scale(1.1);
  transition: all 0.35s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.title-info {
  line-height: 1;
  text-align: center;
  align-items: center;
  max-width: 175px;
  justify-content: space-evenly;
  padding: 8px 15px;
}

.title-info, a {
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: 475;
  text-transform: uppercase;
  letter-spacing: .09rem;
  line-height: 98%;
  text-shadow: 1px 1px 2px rgb(248, 244, 244);
}

.title-info, a:hover{
  color: rgb(144, 144, 144);
  font-weight: 400;
  text-decoration: none;
}

.container2 {
  display: flex;
  flex: 4; 
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgba(236, 227, 209, 0.888);
  padding: 30px 30px 30px;
  background-color: rgba(236, 227, 209, 0.888);
  padding-bottom: 30px; 
}

.container-my-movie {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px 10px 10px;
  padding-bottom: 30px;
}

.my-poster-image {
  width: 250px;
  height: auto;
  border: 4px solid white;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.my-poster-image img {
  width: 100%;
  vertical-align: top;
}

.container-my-poster_image>* {
  flex: 1 1 150px;
}

.my-movie-info {
  align-items: center;
  width: 250px;
  height: 371px;
  justify-content: space-around;
  padding-left: 20px;
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.375);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.my-movie-info, p{
  color: black;
  text-decoration: none;
  text-align: left;
  padding-top: 8px;
}

.my-movie-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 475;
  text-shadow: 1px 1px 2px rgb(248, 244, 244);
  letter-spacing: .09rem;
  line-height: 85%;
} 

.overview {
  text-transform: none;
  font-weight: 300;
  letter-spacing: .05rem;
  line-height: normal;
  font-size: 12px;

}

.scroller{
  width: auto;
  height: 350px;
  overflow-y: scroll;
  scrollbar-color: rgba(143, 142, 144, 0.716) rgba(255, 255, 255, 0.375);
  scrollbar-width: thin;
}

hr {
  -moz-box-sizing: border-box;
  -moz-float-edge: margin-box;
  border: 1px inset;
  color: gray;
  display: block;
  height: 1px;
  margin: 0.5em auto;
}
   
.container {
  width: 80%;
}

.nav-search {
  border-radius: 5px;
  margin: 0;
}

.genre {
    color: black;
    background-color: rgb(226, 225, 218);
    text-decoration: none;
    font-size: 13px;
    font-weight: 475;
    text-transform: uppercase;
    letter-spacing: .09rem;
    line-height: 98%;
    margin: 0px 3px 0px 3px;
    padding: 3px;
    text-shadow: 1px 1px 2px rgb(248, 244, 244);
    border-radius: 3px;
}

.desc {
  font-size: 1rem;
  font-weight: 350;
  display: block;
  margin: 10px 0px 10px 0px;
}

.title {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  /* letter-spacing: .09rem; */
  text-shadow: 0.5px 0.5px 1px rgb(49, 49, 49);
  font-size: 2.5rem;
  color: rgb(29, 29, 29);
  text-transform: none;
}

h1, h2, h3, h4 {
  font-family: 'Cabin', sans-serif;
}

.navbar-brand {
  font-family: 'Cabin', sans-serif;
  font-weight: 800;
  text-transform: none;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: .08rem;
  text-shadow: 0.5px 0.5px 1px rgb(49, 49, 49);
  margin: 0px 15px 0px 10px;
}

.center-div {
  margin: auto;
  text-align: center;
}

.icon {
  color: rgb(248, 244, 244);
  text-align: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: rgb(95, 79, 187);
  border: 3px solid rgb(95, 79, 187)
  text-align: center;
  text-shadow: none;
}

.mr-sm-2 {
  width: 100px;
}

.btn-sm {
  height: 30px;
  border: transparent;
  background-color: antiquewhite;
}

input {
  margin-bottom: 1rem;
}

label {
  font-weight: 300;
  padding: 5px;
  margin: 10px 5px 5px 10px;
  width: 200px;
  text-align: justify;
}

.marquee img {
  height: 220px;
  width: auto;
  border: 2px solid white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  margin: 10px 3px 10px 3px;
}

.marquee {
  --duration: 60s;
  --gap: var(--space);

  height: 250px;
  width: 100%;
  /* background-color: rgba(236, 227, 209, 0.888); */
  display: flex;
  overflow: hidden;
}

.marquee-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
    animation: scroll var(--duration) linear infinite;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
}
}