@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@using MovieClient.Models
<div class="container-img">

    @foreach (Movie movie in Model)
    {
        @*<li>@Html.ActionLink($"{movie.Title}", "Details", new {id = movie.Id})</li>
        <br>*@
        string poster_src = $"https://image.tmdb.org/t/p/w600_and_h900_bestv2/{movie.Poster_Path}";
        <img src="@Url.Content(poster_src)" alt="Logo" width="200" height="300" />
        <div class="title-info">
            
                @Html.ActionLink($"{movie.Title}", "Details", new {id = movie.Id})
            
        </div>
        
        @*@Html.ActionImage("Details", new id = movie.Id), "@Url.Content(poster_src)", "Details")*@
    }

</div>

