    <footer class="navbar fixed-bottom border-top footer text-muted navbar-light bg-light">
        &copy; 2023 - Bottom Text Gang - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>