    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">marquee</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="MyMovies">My List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index">Popular</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="AdvSearch">Search</a>
                        </li>
                </div>
                    @using (Html.BeginForm("Search", "Movies", FormMethod.Get))
                    {
                        @Html.TextBox("query", "", new { @class = "mr-sm-2" }) 
                <input type="submit" value="Search" class="btn btn-sm my-2 my-sm-2 btn-outline-dark">
                    }

                        @if (User.Identity.IsAuthenticated)
                        {
                          <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">
                            <div class="icon">
                                a
                            </div>
                        </a>
@*                         
                        @using (Html.BeginForm("LogOff", "Account"))
                        {
                          <input type="submit" class="btn btn-sm my-2 my-sm-2" value="Log out">
                        } *@
                        }
                        else
                        {
                          <li class="nav-item">@Html.ActionLink("Register", "Register") | @Html.ActionLink("Log in", "Login")</li>
                        }
                    </ul>
            </div>
        </nav>
    </header>